## NLP Community

demenstation of collections.Counter objects

In [2]:
import pandas as pd
import numpy as np
from collections import Counter, ChainMap
import pprint
pp = pprint.PrettyPrinter(indent=4)
import string
import random
import uuid
from math import floor

# we need to generate some data

In [3]:
# fun helps

def get_cat(N=3):
    '''returns a random ALPHA code from N possible codes'''
    letters = string.ascii_uppercase
    L = len(letters)
    if N > L**2:
        print('This definition need more logic to support sample space, N, '
              'grater than %s^2.\nSetting N=%s' % (L, L**2))
        N = L**2
    n = random.randint(1,N)
    return (string.ascii_uppercase[n-1] if (n < L) else
            '%s%s' % (string.ascii_uppercase[floor(n/L)-1],string.ascii_uppercase[(n%L)-1]))


def get_gender():
    '''returns a random gender'''
    return ['Male', 'Female'][random.randint(0,1)]


def get_id():
    '''returns a random universally unique identifier'''
    return str(uuid.uuid4()).replace('-','')


def mk_row(N=3):
    '''makes a random row of example data'''
    return [get_cat(N=N), get_gender(), get_id()]


def mk_example_df(I=10,N=3):
    '''makes a random dataframe of data this example.
    input: I - number of rows you want
           N - number of unique categories in Cat column'''
    return pd.DataFrame([mk_row(N=N) for i in range(I)],
                        columns = ['Cat','Gender','id'])

# show how it works
mk_example_df(I=10)

  Cat  Gender                                id
0   B  Female  df61ae1ad58c4e8eb4d32808bb530127
1   C    Male  22f630ec595d4b46b6f9be5f9a4d5b3d
2   B  Female  74edced06485494d82cc055ffb1c7831
3   C  Female  8cc4f5aa02924ada9876ec02c24c0b46
4   C  Female  acb65f46095d489580e0e98279bfddb0
5   B  Female  9181376cff7144a98d3f9ac51a25c7c4
6   A    Male  8317f4c9039e457abc0e699ab8e6b003
7   B  Female  f7a401279283454398ee6681cdf06f73
8   C    Male  58280911758d49d28c95153a86e368f6
9   B  Female  333b67f3291d4b4bab4e357b1e677393

In [13]:
# making example data
example_df = mk_example_df(I=100)

In [14]:
example_df

   Cat  Gender                                id
0    C    Male  f9ca4abdcbdb4540848ded5feb3313bb
1    A  Female  8bb97ee61fcd4566811767e2b5332060
2    B    Male  e99b6ae5be7b4f108d8065f0e6c539b6
3    C    Male  63616a1ff0bd429eb27dfd87104b2ab8
4    B    Male  bc5528abda7c41288347d3d3349fc314
5    C    Male  bb66a808cd224c0eb3068ab9282cbf95
6    B    Male  54bfb28ee4ca4d25ad8befe84cc111ed
7    B    Male  d0bf92d2d4ab44b88b741b97d3c3586b
8    B    Male  07909531c27d4bd4ac76d96ba0798a3b
9    C    Male  4ddeea9d5ae84c478cc6a5dd3d31136a
10   C    Male  a0e7bb354c2b4207a98a7acd7dd961df
11   B    Male  6497668f28604e7fb810664c155dc5a1
12   B  Female  504e7355c1df469bbd9725bda9fa9263
13   A    Male  80e6173b4c684358b39748f3eb8f3c02
14   B  Female  645f220362fe4b169a147d9a02aa04bd
15   C  Female  3a53eaf2d4344b4b89b39815c457faac
16   A  Female  2b9c1c59f913458cbf17fe2aa767e53f
17   C  Female  8d901b8ec9e94177a4a50f849c00b7ac
18   B    Male  96b679ccfffe46c8ad34620a480f520c
19   C  Female  c58280c9b4a94f6ea0e03c04879e9ccf
20   C  Female  1fe3d166334e48538c5d382874f20881
21   B  Female  f36265ad046a4978b75c5238743dd24d
22   C  Female  fd84cf5ddf964b739ac5ee67678ca6e8
23   C  Female  16439289121245659f84abe5ee032255
24   B    Male  8f3d8588ca934695932c033c18626bfe
25   A    Male  e0b0a8b246f9460499ef46db72fa1e19
26   B    Male  5c798c81e5724baca6786967e9f650c1
27   A    Male  5a7a97b80bbe4aa3b99afe741ad8ace2
28   B  Female  1e6926db9cf94acb94e105d841f01031
29   B    Male  c2f52ac6d644472685401a98c90c3407
..  ..     ...                               ...
70   A    Male  b05558c34b7743c0acc70244052fd6f7
71   C  Female  fc71d6fd92f74b35aa6133dd3e7275f7
72   C    Male  9c8d1a03530b47ac9500ecacb0dd7e3d
73   B  Female  49505cab8da94f87bc0c29fc05f074cb
74   B    Male  c55b8d86fc93433799eaca51f5ab6467
75   A    Male  63a4cfb2bbb540a4b10c14d3dcfee9a4
76   B  Female  e1b9a5fe9a5f417e88fd8b7504278e81
77   C  Female  8d53e91278c84a4d8afeae8bd46f889b
78   C    Male  124980992af04a689d6db6992e9dc9af
79   B  Female  8ad50f8241c14896aa54ae597c9ca698
80   A  Female  bbf75c4c816a42be89d7fd0032e23b20
81   B    Male  b0d22776cb0a4cdda66f76c447b92e8b
82   B  Female  b4df3a2e75214ccf924d22fc177f28eb
83   B    Male  77a761722476467db864c47dccc90043
84   B    Male  f84efd2a3d9045cbade7162d0a14c583
85   C  Female  98f31ab122a84e6e9dc766b5afe57e89
86   C    Male  21038aec2587468abea271beeb1eed3d
87   C    Male  2cabc6bec5e24c20a865c35314565ff4
88   A  Female  b22490cc889b4e20bea054a0363dc404
89   A    Male  ab989e4c583d434a867bc1a6035a6c55
90   C    Male  983567babbbc424aa68ad4633881e4b7
91   A  Female  9e8bd866ac084cd28a5f65273ebb2bb4
92   A    Male  b9e1ece244934c968830b95096d352a6
93   C    Male  780689bdff2c49818b2987eb8f9c0803
94   C  Female  6806249b5cdb48bfa3bd512b85e0a3bc
95   A  Female  145191a753b1431c9639db410057dd91
96   A    Male  7c6b1916588f49749b8f6df317178277
97   C  Female  b7cd49d674564fcab4d163277be48c35
98   C    Male  24225290de6345868e2e9f2963c551ce
99   B  Female  8cb376b46df1467f94918dc4b4774852

[100 rows x 3 columns]

# simple use of collections.Counter

In [19]:
print('counting single category')
count_cats = Counter(example_df.Cat)
print(count_cats)
print('-'*12+'\n')
print('counting category by gender')
count_catXgener = Counter((c,g) for c,g in example_df.loc[:,['Cat','Gender']].values)

# note:
# (c,g) for c,g in example_df.loc[:,['Cat','Gender']].values
# this is generating a tupple of the pairs we want to count,
# Counter((c,g) for c,g in example_df.loc[:,['Cat','Gender']].values)
# above counts thouse pairs

print(count_catXgener)
print('-'*12+'\n')
print('counting category for males only')
count_cat_male = Counter(example_df[example_df.Gender == 'Male'].Cat)
print(count_cat_male)
print('-'*12+'\n')

counting single category
Counter({'C': 41, 'B': 31, 'A': 28})
------------

counting category by gender
Counter({('C', 'Female'): 24, ('B', 'Male'): 20, ('C', 'Male'): 17, ('A', 'Male'): 17, ('A', 'Female'): 11, ('B', 'Female'): 11})
------------

counting category for males only
Counter({'B': 20, 'C': 17, 'A': 17})
------------

## making simple counts into dataframes

In [40]:
print('counting single category')
count_cats_df = pd.DataFrame.from_dict(count_cats, orient='index', columns=['Count'])
print(count_cats_df)
print('-'*12+'\n')
print('counting category by gender')

# note, the method below is brute force. ill come cack to this 

count_catXgener_df = pd.DataFrame.from_dict(count_catXgener, orient='index', columns=['Count']).reset_index()

count_catXgener_df = pd.DataFrame.from_dict({'Cat': [ i[0] for i in count_catXgener.keys()],
                                             'Gender': [ i[1] for i in count_catXgener.keys()],
                                             'Count': [n for n in count_catXgener_df.Count]})

print(count_catXgener_df)

counting single category
   Count
C     41
A     28
B     31
------------

counting category by gender
  Cat  Gender  Count
0   C    Male     17
1   A  Female     11
2   B    Male     20
3   B  Female     11
4   A    Male     17
5   C  Female     24

## most_common()

In [50]:
count_catXgener.most_common()

[(('C', 'Female'), 24),
 (('B', 'Male'), 20),
 (('C', 'Male'), 17),
 (('A', 'Male'), 17),
 (('A', 'Female'), 11),
 (('B', 'Female'), 11)]

# how to subtract counts

In [51]:
count_cats

Counter({'C': 41, 'A': 28, 'B': 31})

In [58]:
count_cats.subtract(count_cats)
print(count_cats)

Counter({'C': 0, 'A': 0, 'B': 0})

# how to add counts

In [53]:
new_df = mk_example_df()
new_df

  Cat  Gender                                id
0   C    Male  a1ac896330e84c9f87e795cc1ae4c30e
1   A  Female  8a228da832a74d3bb489b44fb97fcd06
2   A  Female  8d9d95784ee04e4cbf19177f8e294202
3   A  Female  cba2c65db03649d99e724f446ef84086
4   B    Male  55779e2a5f404c09bd5a6393d025a474
5   B    Male  d3023be5eb1540148b9bfcee5e5b789b
6   B    Male  70baa890b9114e27949aa2f6ba943606
7   B    Male  14bada4476244f7fba7e83da5bcbc0ba
8   B  Female  4cc6c13c81f04a2d87f33a1fd349b92d
9   B  Female  c7ef26cbb3114b91ab68c7a049f50b44

In [59]:
count_cats.update(new_df.Cat)
count_cats

Counter({'C': 1, 'A': 3, 'B': 6})

## one more example of using Collection object

In [74]:
df = mk_example_df(100)
full_counts = Counter(df.Cat)
M_counts = Counter(df[df.Gender == 'Male'].Cat)
F_counts = Counter(df[df.Gender == 'Female'].Cat)
print("Counts of Cats: ", full_counts)
print("Counts of Male Cats: ", M_counts)
print("Counts of Female Cats: ", F_counts)

Counts of Cats:  Counter({'B': 39, 'C': 38, 'A': 23})
Counts of Male Cats:  Counter({'C': 22, 'B': 18, 'A': 13})
Counts of Female Cats:  Counter({'B': 21, 'C': 16, 'A': 10})

In [69]:
null_counts = full_counts.copy()
null_counts.subtract(full_counts)
print("Null counts: ", null_counts)

Null counts:  Counter({'C': 0, 'A': 0, 'B': 0})

In [70]:
print("Making a copy of sample space counts")
collector_of_counts = null_counts.copy()
collector_of_counts

Making a copy of sample space counts

Counter({'C': 0, 'A': 0, 'B': 0})

In [71]:
print("updating null counts with male counts")
collector_of_counts.update(M_counts)
print("collector: ", collector_of_counts)
print("male counts: ", M_counts)

updating null counts with male counts
collector:  Counter({'A': 20, 'C': 16, 'B': 12})
male counts:  Counter({'A': 20, 'C': 16, 'B': 12})

In [72]:
print("updating collector with femail counts")
collector_of_counts.update(F_counts)
print("collector: ", collector_of_counts)
print("female counts: ", F_counts)

updating collector with femail counts
collector:  Counter({'C': 35, 'A': 33, 'B': 32})
female counts:  Counter({'B': 20, 'C': 19, 'A': 13})

In [73]:
print(collector_of_counts)
print(M_counts)
print(F_counts)
print(full_counts)

Counter({'C': 35, 'A': 33, 'B': 32})
Counter({'A': 20, 'C': 16, 'B': 12})
Counter({'B': 20, 'C': 19, 'A': 13})
Counter({'C': 35, 'A': 33, 'B': 32})

## looking at chainmap

In [75]:
df = mk_example_df(I=30,N=26*2)
full_counts = Counter(df.Cat)
M_counts = Counter(df[df.Gender == 'Male'].Cat)
F_counts = Counter(df[df.Gender == 'Female'].Cat)
print("Example data")
print(df)
print("Conter of all data")
print(full_counts)
print("Conter Male")
print(M_counts)
print("Conter Female")
print(F_counts)

Example data
   Cat  Gender                                id
0    F  Female  423a0a71877541dd8d969b581c570c3e
1   BZ  Female  d661b759a28a4570aba6207a0e9a19f5
2   AW  Female  8a81da3e943b43a1bfeca801d278e3ff
3   AY  Female  12967fcad84b447583be98905ba5c812
4    W  Female  a8bdb8bb4f914cfc8e568532fd5783fd
5    J    Male  d1bf11a5c070475f8218adf99b149346
6    Q    Male  b20e383a65c54fa2bc4253d1850f90b6
7   AL  Female  0230078d83044e8bbf3a7fef939b3655
8   AQ    Male  8bdbaa91d03b4b2896b57ef483a05385
9    K    Male  be613f1462bb4fde8307c74e3e27ffc8
10   Q    Male  85284c7e1b7843acb89e1aee51398c53
11  AD    Male  167e4efd273b4ff5be55782df9f9e64e
12   J  Female  f05a3a0e41e844199ac3ce5835a16c72
13   L  Female  83978fd0c4dd4bb189808b8281877b4d
14   V    Male  957c54e176f84d5b8c5354d382a2053a
15  AQ  Female  fe7617ac82f048758dfcecb1f7c24fb6
16   R  Female  6e840fcccb6b46a0b1f84be809d40cf0
17   J    Male  888386e9f670488c82c87b9d471e8dce
18  BZ    Male  ed470c8bfc3a4fccb7be7238386f2a39
19  AL    Male  5e071a93f53849d5aab5012f9d1f0cfa
20   A  Female  06a46be26fbb4844bbdafc78311f26f8
21  AV    Male  18fc6bc9e1654e738bed5bea975beef3
22  AO    Male  a4280894b3b140e9a3bb3e7061b2be25
23   J  Female  57b2a58e9e7c4403999df6841a474015
24  AW  Female  de099d27684e49c1a4e8c78ac85ea208
25  AF  Female  cf12fae439c940f1a7ebf1eb97989bd7
26   W    Male  351bbd8ab8074e81b0abccd16ed01c15
27  AA    Male  66ba89ad8b7845be8384d30fd3a50800
28  AY    Male  bb1a4d00a0c84a438b0f00e5602687a2
29   H    Male  a2e0576ba61344cba69aef67213fc5c9
Conter of all data
Counter({'J': 4, 'BZ': 2, 'AW': 2, 'AY': 2, 'W': 2, 'Q': 2, 'AL': 2, 'AQ': 2, 'F': 1, 'K': 1, 'AD': 1, 'L': 1, 'V': 1, 'R': 1, 'A': 1, 'AV': 1, 'AO': 1, 'AF': 1, 'AA': 1, 'H': 1})
Conter Male
Counter({'J': 2, 'Q': 2, 'AQ': 1, 'K': 1, 'AD': 1, 'V': 1, 'BZ': 1, 'AL': 1, 'AV': 1, 'AO': 1, 'W': 1, 'AA': 1, 'AY': 1, 'H': 1})
Conter Female
Counter({'AW': 2, 'J': 2, 'F': 1, 'BZ': 1, 'AY': 1, 'W': 1, 'AL': 1, 'L': 1, 'AQ': 1, 'R': 1, 'A': 1, 'AF': 1})

In [76]:
print("Collection keys from all counts")
l = list(full_counts.keys())
print(l)

Collection keys from all counts
['F', 'BZ', 'AW', 'AY', 'W', 'J', 'Q', 'AL', 'AQ', 'K', 'AD', 'L', 'V', 'R', 'A', 'AV', 'AO', 'AF', 'AA', 'H']

In [77]:
l.sort()
print(l)

['A', 'AA', 'AD', 'AF', 'AL', 'AO', 'AQ', 'AV', 'AW', 'AY', 'BZ', 'F', 'H', 'J', 'K', 'L', 'Q', 'R', 'V', 'W']

In [78]:
print("Collection keys Chainmap of Males and Female collection objects")
lm = list(ChainMap(M_counts, F_counts))
lm.sort()
print(lm)
print("We see that chainmap can be used to produce a universe of objects by combining collection objects.")

Collection keys Chainmap of Males and Female collection objects
['A', 'AA', 'AD', 'AF', 'AL', 'AO', 'AQ', 'AV', 'AW', 'AY', 'BZ', 'F', 'H', 'J', 'K', 'L', 'Q', 'R', 'V', 'W']
We see that chainmap can be used to produce a universe of objects by combining collection objects.

# Itteritive approch to proccessing counts

In [83]:
# first we wright some text data
df = mk_example_df(I=300,N=26*2)
df.to_csv("./example_csv.csv", index=False)

In [14]:
!DIR | findstr "example_csv"

07/28/2022  10:36 AM            12,764 example_csv.csv

In [30]:
with open("./example_csv.csv", "r") as f:
    col1_counter = Counter()
    i=0
    for line in f:
        if i==0:
            pass
        else:
            col1_counter.update([line.split(',')[0]])
        if i%100 == 0:
            print(i," "*4)
            pp.pprint(col1_counter)
            print('-'*12)
        i+=1
print("Final counts: ", col1_counter)

0
Counter()
------------
100
Counter({   'H': 6,
            'AO': 6,
            'AP': 5,
            'N': 5,
            'AN': 5,
            'AR': 4,
            'E': 4,
            'D': 4,
            'M': 3,
            'AC': 3,
            'K': 3,
            'AI': 3,
            'S': 3,
            'B': 3,
            'I': 3,
            'AB': 3,
            'AE': 2,
            'AG': 2,
            'AZ': 2,
            'W': 2,
            'T': 2,
            'C': 2,
            'Y': 2,
            'AA': 1,
            'O': 1,
            'Q': 1,
            'AK': 1,
            'AH': 1,
            'AT': 1,
            'P': 1,
            'AQ': 1,
            'L': 1,
            'X': 1,
            'U': 1,
            'AY': 1,
            'AM': 1,
            'F': 1,
            'J': 1,
            'R': 1,
            'BZ': 1,
            'V': 1,
            'AD': 1,
            'G': 1,
            'AW': 1,
            'AX': 1,
            'AS': 1})
------------
200
Counter({   'H': 10,
            'AE': 7,
            'AO': 7,
            'E': 7,
            'N': 7,
            'AM': 7,
            'AP': 6,
            'K': 6,
            'AI': 6,
            'AN': 6,
            'B': 6,
            'V': 6,
            'C': 6,
            'AR': 5,
            'O': 5,
            'S': 5,
            'W': 5,
            'I': 5,
            'M': 4,
            'AC': 4,
            'AK': 4,
            'AY': 4,
            'D': 4,
            'F': 4,
            'AB': 4,
            'AL': 4,
            'AG': 3,
            'AA': 3,
            'AZ': 3,
            'AT': 3,
            'X': 3,
            'R': 3,
            'T': 3,
            'G': 3,
            'Y': 3,
            'Q': 2,
            'AH': 2,
            'P': 2,
            'L': 2,
            'J': 2,
            'BZ': 2,
            'AD': 2,
            'AW': 2,
            'AX': 2,
            'AJ': 2,
            'AF': 2,
            'A': 2,
            'AQ': 1,
            'U': 1,
            'AS': 1,
            'AU': 1,
            'AV': 1})
------------
300
Counter({   'H': 12,
            'AP': 10,
            'AN': 10,
            'C': 10,
            'AO': 9,
            'K': 9,
            'B': 9,
            'V': 9,
            'E': 8,
            'N': 8,
            'AM': 8,
            'AB': 8,
            'AL': 8,
            'AE': 7,
            'AC': 7,
            'O': 7,
            'F': 7,
            'G': 7,
            'AR': 6,
            'M': 6,
            'AG': 6,
            'AK': 6,
            'AI': 6,
            'S': 6,
            'W': 6,
            'D': 6,
            'R': 6,
            'AZ': 5,
            'Q': 5,
            'P': 5,
            'X': 5,
            'AY': 5,
            'I': 5,
            'AF': 5,
            'AT': 4,
            'L': 4,
            'BZ': 4,
            'Y': 4,
            'AX': 4,
            'AS': 4,
            'AJ': 4,
            'AA': 3,
            'AH': 3,
            'U': 3,
            'J': 3,
            'T': 3,
            'AD': 3,
            'AW': 3,
            'AU': 3,
            'AV': 3,
            'A': 2,
            'AQ': 1})
------------
Final counts:  Counter({'H': 12, 'AP': 10, 'AN': 10, 'C': 10, 'AO': 9, 'K': 9, 'B': 9, 'V': 9, 'E': 8, 'N': 8, 'AM': 8, 'AB': 8, 'AL': 8, 'AE': 7, 'AC': 7, 'O': 7, 'F': 7, 'G': 7, 'AR': 6, 'M': 6, 'AG': 6, 'AK': 6, 'AI': 6, 'S': 6, 'W': 6, 'D': 6, 'R': 6, 'AZ': 5, 'Q': 5, 'P': 5, 'X': 5, 'AY': 5, 'I': 5, 'AF': 5, 'AT': 4, 'L': 4, 'BZ': 4, 'Y': 4, 'AX': 4, 'AS': 4, 'AJ': 4, 'AA': 3, 'AH': 3, 'U': 3, 'J': 3, 'T': 3, 'AD': 3, 'AW': 3, 'AU': 3, 'AV': 3, 'A': 2, 'AQ': 1})